<div class="register-container">
    <div class="card">
        <div class="header">
            <h2 class="title">Crea tu cuenta</h2>
            <p class="subtitle">
                Contruye tu mejor versión cada día
            </p>
        </div>

        <form class="form" [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="form-fields">
                <!-- Campo Username -->
                <div class="field">
                    <label for="username" class="label">Nombre de usuario</label>
                    <input id="username" name="username" type="text" required class="input"
                        [class.input-error]="isFieldInvalid('username')" placeholder="Tu nombre de usuario"
                        formControlName="username">

                    <!-- Mensajes de error -->
                    <div class="error-message" *ngIf="hasError('username', 'required')">
                        El nombre de usuario es obligatorio
                    </div>
                </div>

                <!-- Campo Email -->
                <div class="field">
                    <label for="email-address" class="label">Correo electrónico</label>
                    <input id="email-address" name="email" type="email" autocomplete="email" required class="input"
                        [class.input-error]="isFieldInvalid('email')" formControlName="email"
                        placeholder="tu@correo.com">

                    <!-- Mensajes de error -->
                    <div class="error-message" *ngIf="hasError('email', 'required')">
                        El correo electrónico es obligatorio
                    </div>
                    <div class="error-message" *ngIf="hasError('email', 'email')">
                        Ingresa un correo electrónico válido
                    </div>
                </div>

                <!-- Campo Password -->
                <div class="field">
                    <label for="password" class="label">Contraseña</label>
                    <input id="password" name="password" type="password" autocomplete="current-password" required
                        class="input" [class.input-error]="isFieldInvalid('password')" placeholder="Contraseña"
                        formControlName="password">

                    <!-- Mensajes de error -->
                    <div class="error-message" *ngIf="hasError('password', 'required')">
                        La contraseña es obligatoria
                    </div>
                    <div class="error-message" *ngIf="hasError('password', 'minlength')">
                        La contraseña debe tener al menos 6 caracteres
                    </div>
                </div>

                <!-- Campo Confirm Password -->
                <div class="field">
                    <label for="confirm-password" class="label">Confirmar contraseña</label>
                    <input id="confirm-password" name="confirmPassword" type="password" autocomplete="current-password"
                        required class="input" [class.input-error]="isFieldInvalid('confirmPassword')"
                        placeholder="Confirmar contraseña" formControlName="confirmPassword">

                    <!-- Mensajes de error -->
                    <div class="error-message" *ngIf="hasError('confirmPassword', 'required')">
                        Debes confirmar tu contraseña
                    </div>
                </div>
            </div>

            <!-- Mensaje de error global -->
            <div class="alert-error" *ngIf="errorMessage">
                {{ errorMessage }}
            </div>

            <div class="button-container">
                <button type="submit" class="btn-submit">
                    <span class="icon">
                        <svg class="lock-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                            fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                clip-rule="evenodd" />
                        </svg>
                    </span>
                    Registrarse
                </button>
            </div>

            <div>
                <p class="subtitle">
                    ¿Ya tienes una cuenta?
                    <a routerLink="/auth/login" class="link">
                        Iniciar sesión
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>